[submodule "openembedded-core"]
	path = sources/openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = thud
[submodule "bitbake"]
	path = sources/bitbake
	url = git://git.openembedded.org/bitbake
	branch = 1.40
[submodule "meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = thud
[submodule "meta-sancloud"]
	path = sources/meta-sancloud
	url = https://github.com/SanCloudLtd/meta-sancloud.git
	branch = thud
[submodule "meta-ti"]
	path = sources/meta-ti
	url = https://git.yoctoproject.org/git/meta-ti
	branch = thud
[submodule "meta-rtlwifi"]
	path = sources/meta-rtlwifi
	url = https://github.com/EmbeddedAndroid/meta-rtlwifi.git
[submodule "meta-linaro"]
	path = sources/meta-linaro
	url = https://git.linaro.org/openembedded/meta-linaro.git
	branch = thud
[submodule "meta-arago"]
	path = sources/meta-arago
	url = git://arago-project.org/git/meta-arago.git
	branch = thud
[submodule "meta-browser"]
	path = sources/meta-browser
	url = https://github.com/OSSystems/meta-browser.git
[submodule "meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = thud
[submodule "meta-rust"]
	path = sources/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang.git
