/build/bitbake.lock
/build/cache
/build/conf/sanity_info
/build/conf/site.conf
/build/conf/silo.conf
/build/tmp*
/build/downloads
/build/sstate-cache
/build/buildhistory
/build/pn-buildlist
/build/*.dot
/images-bbe
*.log
